nav {
    font-family: 'Skranji', cursive;
}

#divForm {
    padding-top: 50px;
}

#corpSite {
    margin-top: 10px;
}

#blockAnnonce {
    background-color: rgba(0,0,0,0.2);
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}