///////////////////////////////////////////////////////////////// variables //////////////////////////////////////////
$bleuFlash: #109AF5;
$bleuFade: #01406C;
$orange: #F45A2B;
$grisClair: #647B96;
$grisFond : #858585;

/////////////////////////////////////////////////////////////// General.php /////////////////////////////////////////
body::-webkit-scrollbar {

    display: none;

}

@media screen and (max-width: 640px) {
    #img_div_form_inscription {
    }
}

////////////////////////////////////////////////////////////// NavBar ////////////////////////////////////////////////
nav {
    background-color: dimgray;
    font-family: 'Skranji', cursive;

    #logo {
        font-size: 30px;
    }

    #logo:hover {
        color: white;
    }

    #list_menu_gch {
        padding-left: 20px;
        color: white;
        a:hover {
            color: white;
        }
    }

    #list_menu_dte {
        color: white;
        a:hover {
            color: white;
        }
    }
}

#divForm {
    margin-left: 0;
}

#prix_velo {
    //color: $vertFond;
    font-size: 30px;
}

#div_img_velo {
    
}

#searchBar {
    input {
       margin-left: 50%;
    }
    
   
}

///////////////////////////////////////////////////// modal.php ////////////////////////////////////////
#modal_header {
    background-color: $bleuFlash;
}


////////////////////////////////////////////////// index.php ////////////////////////////////////////////
// annonces :
#titreAnnonce {
    margin-bottom: 20px;
}

#lienAnnonce {
    text-decoration: none;
}

#blockAnnonce_Pindex {
    color: black;
    border-radius: 5px;
    background-color: $grisFond;
    margin-top: 1%;
    margin-bottom: 2%;
    padding-bottom: 10px;
    box-shadow: 10px 5px 5px black;
}

#blockAnnonce_Pindex:hover {
    //background-color: rgba(255, 99, 59, 0.2);
    transform: scale(1.05);
    box-shadow: 20px 10px 5px black;
    #nom_annonce, #prix_velo {
        color: black;
        font-weight: 700;
    }
    
    #marque_velo, #model_velo {
        color: black;
    }
}

aside {
    margin-left: 20%;

    #nom_annonce {
        //color: $vertFond;
        font-size: 30px;
    }

    #marque_velo {
        color: black;
    }

    #model_velo {
        color: black;
    }
}

#corpSite_Pindex {
    background-color: white;
    margin-top: 70px;
}

#body_Pindex {
    background-color: white;
}

///////////////////////////////////////////////////////// deposerAnnonce.php ///////////////////////////////////////////////////////

#container_form_ajoutAnnonce {
    padding-top: 100px;
}


//////////////////////////////////////////////////////// Annonces.php ///////////////////////////////////////////////////////////////

#blockAnnonce {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: $grisFond;
}

#imgVelo {
    display: block;
    padding-top: 10%;
    padding-bottom: 00%;
    width: 100%;
    height: auto;
}

#corpPage_Pannonce {    
    background-color: $grisFond;
    padding-top: 50px;
    margin-bottom: 20px;
    padding: 0;
    margin: 0;
}

#nom_annonce_Pannonce {
    //color: $vertFond;
    font-weight: 600;
    font-size: 50px;
}

#imgVelo_Pannonce {
    margin-left: 15%;
    padding: 10px;
    display: block;
    width: 70%;
    max-width: 70%;
    height: auto;
}


#marque_velo_Pannonce {
    
}

#annoncePage p {
    border-radius: 10px;
    font-size: 20px;
}

#marque_Pannonce {
    margin-bottom: 20px;
    float: left;
}

#model_Pannonce {
    margin-bottom: 20px;
    float: right;
}

#div_marque_model_Pannonce {
    margin-left: 15%;
    padding: 10px;
    font-size: 20px;
    color: dimgray;
    
    p {
        color: #000000;
        font-weight: 700;
        font-size: 25px;
    }
    
}



#titre_description_Pannonce {   
        margin-left: 10%;
        color: #000000;
        font-weight: 700;
        font-size: 25px;    
}

#description_Pannonce {
    margin-left: 15%;
    padding: 10px;
    font-size: 20px;
    color: dimgray;
}

#annoncePage_Pannonce {
    padding-top: 80px;
    background-color: white;
    box-shadow: 10px 5px 5px black;
    padding-bottom: 20px;
}

#body_Pannonce {
    background-color: white;
}

#description_velo_Pannonce {
    padding-top: 20px;
}

#date_ajout_Pannonce {
    margin-left: 20px;
}

#btn_add_Fav_Pannonce {
    float: right;
    margin-right: 25%;
}

#btn_coordonnes_Pannonce {
    float: left;
    margin-left: 25%;
}

/////////////////////////////////////////////////////////// Inscription.php ///////////////////////////////////

#img_div_form_inscription {
    margin-top: -20px;
    padding: 0;
    height: 100%;
    width: auto;
    float: right;
}


#img_inscription {
   float: right;
}

#inscription {
    overflow-x: hidden;
}

#error_message {
    float: left;
    margin-top: 90px;
    text-align: center;
}

#img_form_inscription {
    margin-left: 20px;
}


////////////////////////////////////////////////////////// Favoris.php ///////////////////////////////////////////////////

#body_Pfavoris {
    background-color: white;
}

#corpSite_Pfavoris {
    padding-top: 70px;
    font-family: sans-serif;
}



