body::-webkit-scrollbar {
  display: none; }

nav {
  background-color: dimgray;
  font-family: 'Skranji', cursive; }
  nav #logo {
    font-size: 30px; }
  nav #logo:hover {
    color: white; }
  nav #list_menu_gch {
    padding-left: 20px;
    color: white; }
    nav #list_menu_gch a:hover {
      color: white; }
  nav #list_menu_dte {
    color: white; }
    nav #list_menu_dte a:hover {
      color: white; }

#divForm {
  margin-left: 0; }

#prix_velo {
  font-size: 30px; }

#modal_header {
  background-color: #109AF5; }

#titreAnnonce {
  margin-bottom: 20px; }

#lienAnnonce {
  text-decoration: none; }

#blockAnnonce_Pindex {
  color: black;
  border-radius: 5px;
  background-color: #858585;
  margin-top: 1%;
  margin-bottom: 2%;
  padding-bottom: 10px;
  box-shadow: 10px 5px 5px black; }

#blockAnnonce_Pindex:hover {
  transform: scale(1.05);
  box-shadow: 20px 10px 5px black; }
  #blockAnnonce_Pindex:hover #nom_annonce, #blockAnnonce_Pindex:hover #prix_velo {
    color: black;
    font-weight: 700; }
  #blockAnnonce_Pindex:hover #marque_velo, #blockAnnonce_Pindex:hover #model_velo {
    color: black; }

aside {
  margin-left: 20%; }
  aside #nom_annonce {
    font-size: 30px; }
  aside #marque_velo {
    color: black; }
  aside #model_velo {
    color: black; }

#corpSite_Pindex {
  background-color: white;
  margin-top: 70px; }

#body_Pindex {
  background-color: white; }

#container_form_ajoutAnnonce {
  padding-top: 100px; }

#blockAnnonce {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: #858585; }

#imgVelo {
  display: block;
  padding-top: 10%;
  padding-bottom: 00%;
  width: 100%;
  height: auto; }

#corpPage_Pannonce {
  background-color: #858585;
  padding-top: 50px;
  margin-bottom: 20px;
  padding: 0;
  margin: 0; }

#nom_annonce_Pannonce {
  font-weight: 600;
  font-size: 50px; }

#imgVelo_Pannonce {
  margin-left: 15%;
  padding: 10px;
  display: block;
  width: 70%;
  max-width: 70%;
  height: auto; }

#annoncePage p {
  border-radius: 10px;
  font-size: 20px; }

#marque_Pannonce {
  margin-bottom: 20px;
  float: left; }

#model_Pannonce {
  margin-bottom: 20px;
  float: right; }

#div_marque_model_Pannonce {
  margin-left: 15%;
  padding: 10px;
  font-size: 20px;
  color: dimgray; }
  #div_marque_model_Pannonce p {
    color: #000000;
    font-weight: 700;
    font-size: 25px; }

#titre_description_Pannonce {
  margin-left: 10%;
  color: #000000;
  font-weight: 700;
  font-size: 25px; }

#description_Pannonce {
  margin-left: 15%;
  padding: 10px;
  font-size: 20px;
  color: dimgray; }

#annoncePage_Pannonce {
  padding-top: 80px;
  background-color: white;
  box-shadow: 10px 5px 5px black;
  padding-bottom: 20px; }

#body_Pannonce {
  background-color: white; }

#description_velo_Pannonce {
  padding-top: 20px; }

#date_ajout_Pannonce {
  margin-left: 20px; }

#btn_add_Fav_Pannonce {
  float: right;
  margin-right: 25%; }

#btn_coordonnes_Pannonce {
  float: left;
  margin-left: 25%; }

#img_div_form_inscription {
  margin-top: -20px;
  padding: 0;
  height: 100%;
  width: auto;
  float: right; }

#img_inscription {
  float: right; }

#inscription {
  overflow-x: hidden; }

#error_message {
  float: left;
  margin-top: 90px;
  text-align: center; }

#img_form_inscription {
  margin-left: 20px; }

#body_Pfavoris {
  background-color: white; }

/*# sourceMappingURL=style.css.map */
